<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{100}.%M %L - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- The WARN logs must be in yellow -->

    <!-- Netty logger -->
    <logger name="io.netty" level="INFO"/> <!-- Use INFO level for a cleaner log or DEBUG for more details -->

    <root level="DEBUG"> <!-- Use INFO level for a cleaner log or DEBUG for more details  -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>